include README.md
include MANIFEST.in
include requirements.txt
include CONTRIBUTING.md
include LICENSE
include Makefile
include pytest.ini
include pyproject.toml
include .travis.yml
include .readthedocs.yml
include docs/*.rst
include docs/conf.py
include docs/make.bat
include docs/Makefile
include docs/figures/*
include src_c/*
include src_c/include/*.h
include tests/test_*.py
include examples/*.py
