[MCMC]
# MCMC general options:
nsamples = 1e5
nchains  = 7
walk     = snooker
grtest   = True
burnin   = 1000
plots    = True
savefile = output_demo02.npz
# Fitting function options:
func     = quad quadratic ../MCcubed/examples/models/
params   = params.txt
# The data, uncertainties, and independent variables:
data      = data.npz
indparams = indp.npz
