# - Comment lines are allowed (and ignored)
# - Comments after an argument are allowed only with the ';' character.
# - Strings don't need quotation marks
[MCMC]
# MCMC general options:
numit   = 1e5
nchains = 10
walk    = demc
grtest  = True
burnin  = 500
plots   = True
output  = output_ex02.npy
# Fitting function and intitial-guess values:
func   = quad quadratic ../models/
params    = params.txt
# The data, uncertainties, and independent variables:
data      = data.npz
indparams = indp.npz
